{{!-- Welcome Banner Connector for below-site-header-outlet --}}
<div class="below-site-header-outlet search-banner welcome-banner groqsters-welcome-banner">
  <div class="custom-search-banner welcome-banner__inner-wrapper">
    <div class="wrap custom-search-banner-wrap welcome-banner__wrap">
      <div class="custom-search-banner-headline">
        {{#if currentUser}}
          Welcome back, {{currentUser.username}}!
        {{else}}
          Welcome to the Groqsters Community
        {{/if}}
      </div>
      <p>{{#unless currentUser}}Find help, share your knowledge, and experience fast inference{{/unless}}</p>
      
      <div class="search-menu welcome-banner__search-menu">
        <a href="/search?expanded=true" class="btn no-text btn-icon btn search-icon" title="Open advanced search">
          <svg class="fa d-icon d-icon-magnifying-glass svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <use href="#v-magnifying-glass"></use>
          </svg>
          <span aria-hidden="true">​</span>
        </a>
        
        <div class="search-menu-container menu-panel-results">
          <div class="search-input-wrapper">
            <div class="search-input search-input--">
              <input id="custom-search-input" class="search-term__input" autocomplete="off" enterkeyhint="search" placeholder="Search" aria-label="Search" type="search">
              
              <div class="searching">
                <button class="btn no-text btn-icon show-advanced-search btn-transparent" title="Open advanced search" type="button">
                  <svg class="fa d-icon d-icon-sliders svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                    <use href="#v-settings-sliders"></use>
                  </svg>
                  <span aria-hidden="true">​</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>