// Groqsters Theme - Common Styles
// This file contains styles that apply to all devices

// Import theme settings
:root {
  --groqsters-primary: #{theme-setting('primary_brand_color')};
  --groqsters-transition: all 0.3s ease;
  --category-badge-title-color: #0088cc;
  --category-boxes-text-alignment: left;
  --groqsters-sidebar-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

// these are for home page or general site styles
@import "home"; 
@import "banners";
@import "footer";
@import "categories";
@import "published-page";


// custom groq test styling overrides
.sidebar-wrapper, .welcome-banner {
  font-family: var(--groqsters-sidebar-font);
}

:root {
  // overrides for groq
  --heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --primary: #1e1e1e;
  --tertiary: #F55036;
  --category-badge-title-color: #F55036;
  --d-button-primary-bg-color--hover: #FF6F58
}


// Dark mode overrides
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #909090;
  }
}




